* {
  font-size: 1em;
  box-sizing: border-box;
}
body {
  text-align: center;
  width: 100%;
}
.App {
  align-items: center;
  background: url('./data/images/space.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}
.App h1 {
  color: aliceblue;
  font-family: 'black_jackregular';
  font-size: 4rem;
  padding: 1rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards a{
  position: absolute;
}
.test{
  border-radius: 50%;
  background: url('./data/images/ingrid.jpeg');
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}
